@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "./styles/atomic";
body {
  font-family: "Open Sans";
  margin: 0;
  .wrappercard {
    background-color: #0f185d;
    padding: 10px;
    h1 {
      margin: 0px;
      margin-left: 80px;
      color: #fff;
      font-size: 45px;
      font-weight: 900;
    }
  }
  .background {
    border-radius: 17px;
    -webkit-box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
    -moz-box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
    box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 117px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    @media screen and (max-width: 786px) and (min-width: 650px) {
      padding-right: 191px;
    }
    @media screen and (max-width: 450px) {
      margin: 0px;
    }
    .space-between {
      justify-self: right;
    }
  }
  @media screen and (max-width: 450px) {
    .space-between {
      justify-self: end;
    }
  }
  .footer {
    display: inline-block;
  }
  .special {
    width: 97px;
  }
  .footer {
    color: #cbcbcb;
    font-weight: bold;
    font-size: 13px;
    margin-left: 86px;
    margin-top: 12px;
  }
  .background-two {
    border-radius: 17px;
    -webkit-box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
    -moz-box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
    box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 117px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
    @media screen and (max-width: 786px) and (min-width: 650px) {
      padding-right: 191px;
    }
    @media screen and (max-width: 450px) {
      margin: 0px;
    }
    .space-between {
      justify-self: right;
      @media screen and (max-width: 450px) {
        justify-self: end;
      }
    }
    .footer {
      display: inline-block;
    }
  }
  .special {
    width: 97px;
  }

  .footer {
    color: #cbcbcb;
    font-weight: bold;
    font-size: 13px;
    margin-left: 86px;
    margin-top: 12px;
  }
  .transaction-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin-right: 85px;
    margin-left: 25px;
  }
  .table {
    border-collapse: separate;
    border-spacing: 0 17px;
    border-top: none;
    caption {
      caption-side: top;
      font-size: 30px;
      color: black;
      font-weight: bold;
      margin-top: 58px;
    }
    .color-green {
      color: green;
    }

    .color-orange {
      color: orange;
      white-space: nowrap;
    }

    table tr th {
      text-align: left;
      padding: none;
      border: none;
    }

    table tr td {
      padding: 14px;
      border: none;
    }

    .table-data {
      -webkit-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
      -moz-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
      box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
    }

    .ft {
      font-size: 20px;
    }
    h3 {
      margin-left: 12px;
      font-weight: bold;
    }
    @media screen and (max-width: 1200px) {
      margin-left: 55px;
      margin-right: 13px;
    }
    @media screen and (max-width: 450px) {
      margin: 0px;
    }
  }
  .super-container {
    text-align: -webkit-center;
    .caption {
      font-size: 30px;
      color: black;
      font-weight: bold;
      margin-top: 58px;
      text-align: left;
      width: 400px;
      margin-bottom: 25px;
    }
    margin-bottom: 30px;
    margin-top: 73px;
    .container-billing {
      padding: 31px;
    }
    h3 {
      font-weight: bold;
      margin-top: 80px;
    }
    .right {
      justify-self: flex-end;
    }
    .border-bottom-custom {
      border-bottom: 1px solid grey;
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }
  .wrapper-billing {
    border-radius: 17px;
    -webkit-box-shadow: -1px 0px 22px -12px rgb(102, 100, 102);
    -moz-box-shadow: -1px 0px 22px -12px rgb(102, 100, 102);
    box-shadow: -1px 0px 22px -12px rgb(102, 100, 102);
    width: 405px;
    p {
      font-size: 10px;
    }

    .sect {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
    }
    .special {
      font-size: 20px;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  .backg-billing {
    background-color: #5a5e81;
    color: #fff;
    padding: 31px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
  }
  @media screen and (max-width: 1500px) {
    .transaction-wrapper {
      grid-template-columns: 1fr;
      align-items: center;
    }
  }
  @media screen and (max-width: 450px) {
    .transaction-wrapper {
      margin: 0px;
    }
  }
  @media screen and (max-width: 420px) {
    .table-responsive {
      width: 95%;
    }
  }
}