@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.table-data {
  font-size: 20px;
}

.rt {
  color: #0f185d;
}

.ft {
  color: #0f185d;
  font-weight: 800;
}

.text-input {
  height: 30px;
  width: 100px;
  font-size: 14px;
  border: 1px solid gainsboro;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

body .wrappercard {
  background-color: #0f185d;
  padding: 10px;
}

body .wrappercard h1 {
  margin: 0px;
  margin-left: 80px;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}

body .background {
  border-radius: 17px;
  -webkit-box-shadow: -1px 0px 22px -12px #959095;
  box-shadow: -1px 0px 22px -12px #959095;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-right: 117px;
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(276px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
}

@media screen and (max-width: 786px) and (min-width: 650px) {
  body .background {
    padding-right: 191px;
  }
}

@media screen and (max-width: 450px) {
  body .background {
    margin: 0px;
  }
}

body .background .space-between {
  -ms-grid-column-align: right;
      justify-self: right;
}

@media screen and (max-width: 450px) {
  body .space-between {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

body .footer {
  display: inline-block;
}

body .special {
  width: 97px;
}

body .footer {
  color: #cbcbcb;
  font-weight: bold;
  font-size: 13px;
  margin-left: 86px;
  margin-top: 12px;
}

body .background-two {
  border-radius: 17px;
  -webkit-box-shadow: -1px 0px 22px -12px #959095;
  box-shadow: -1px 0px 22px -12px #959095;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-right: 117px;
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(263px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
}

@media screen and (max-width: 786px) and (min-width: 650px) {
  body .background-two {
    padding-right: 191px;
  }
}

@media screen and (max-width: 450px) {
  body .background-two {
    margin: 0px;
  }
}

body .background-two .space-between {
  -ms-grid-column-align: right;
      justify-self: right;
}

@media screen and (max-width: 450px) {
  body .background-two .space-between {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

body .background-two .footer {
  display: inline-block;
}

body .special {
  width: 97px;
}

body .footer {
  color: #cbcbcb;
  font-weight: bold;
  font-size: 13px;
  margin-left: 86px;
  margin-top: 12px;
}

body .transaction-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  margin-right: 85px;
  margin-left: 25px;
}

body .table {
  border-collapse: separate;
  border-spacing: 0 17px;
  border-top: none;
}

body .table caption {
  caption-side: top;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-top: 58px;
}

body .table .color-green {
  color: green;
}

body .table .color-orange {
  color: orange;
  white-space: nowrap;
}

body .table table tr th {
  text-align: left;
  padding: none;
  border: none;
}

body .table table tr td {
  padding: 14px;
  border: none;
}

body .table .table-data {
  -webkit-box-shadow: -1px 0px 22px -12px #b3aeb3;
  box-shadow: -1px 0px 22px -12px #b3aeb3;
}

body .table .ft {
  font-size: 20px;
}

body .table h3 {
  margin-left: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  body .table {
    margin-left: 55px;
    margin-right: 13px;
  }
}

@media screen and (max-width: 450px) {
  body .table {
    margin: 0px;
  }
}

body .super-container {
  text-align: -webkit-center;
  margin-bottom: 30px;
  margin-top: 73px;
}

body .super-container .caption {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-top: 58px;
  text-align: left;
  width: 400px;
  margin-bottom: 25px;
}

body .super-container .container-billing {
  padding: 31px;
}

body .super-container h3 {
  font-weight: bold;
  margin-top: 80px;
}

body .super-container .right {
  justify-self: flex-end;
}

body .super-container .border-bottom-custom {
  border-bottom: 1px solid grey;
  margin-bottom: 12px;
  margin-top: 12px;
}

body .wrapper-billing {
  border-radius: 17px;
  -webkit-box-shadow: -1px 0px 22px -12px #666466;
  box-shadow: -1px 0px 22px -12px #666466;
  width: 405px;
}

body .wrapper-billing p {
  font-size: 10px;
}

body .wrapper-billing .sect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper-billing .special {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

body .backg-billing {
  background-color: #5a5e81;
  color: #fff;
  padding: 31px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}

@media screen and (max-width: 1500px) {
  body .transaction-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 450px) {
  body .transaction-wrapper {
    margin: 0px;
  }
}

@media screen and (max-width: 420px) {
  body .table-responsive {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */